<%= form_for(:link, class: "shadow p-3 my-4 bg-info rounded", url: params["link"] ? update_link_path(id: params["link"]["id"]) : create_link_path, :remote => true) do |f| %>
  <div class="flex justify-between">
    <div class="flex space-x-4">
      <div class="flex items-center space-x-4">
        <% if params["link"] %>
          <%= f.label :url, class: "" %>
          <%= f.text_field :url, class: "form-control shadow rounded", value: "#{params["link"]["url"]}"  %>
        <% else %>
          <%= f.label :url, class: "" %>
          <%= f.text_field :url, class: "form-control shadow rounded", placeholder: "enter url"  %>
        <% end %>
      </div>
      <div class="flex items-center space-x-4">
        <% if params["link"] %>
          <%= f.label :description, class: "" %>
          <%= f.text_field :description, class: "form-control shadow rounded", value: "#{params["link"]["description"]}"  %>
        <% else %>
          <%= f.label :description, class: "" %>
          <%= f.text_field :description, class: "form-control shadow rounded", placeholder: "enter description"  %>
        <% end %>
      </div>
    </div>
    <div class="flex justify-center space-x-4">
      <div class="">
        <%= link_to 'Cancel', links_path, class: "btn btn-danger" %>
      </div>
      <div class="">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
