<div class="flex justify-between">
  <div class="item mb-2 border-b-2 border-solid border-black">
    <div class="content">
      <a class="header flex text-2xl space-x-4">
        <p class="  "><%= link["node"]["url"] %></p>
        <p> <%= link["node"]["description"] %> </p>
      </a>
      <p class="description ml-4">- posted by: <%= link["node"]["postedBy"]["email"] %></p>
    </div>
  </div>
  <% if link["node"]["postedBy"]["email"] == current_user["email"] %>
    <div class="flex space-x-4">
      <div>
        <%= button_to "Delete", { action: "destroy", id: link["node"]["id"] },
          method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>
      <div>
        <%= button_to(
          "Edit",
          edit_link_path,
          class: "btn  btn-primary", 
          method: :get,
          params: { link_id: link["node"]["id"], link: link["node"]},
          remote: true
          )
        %>
      </div>
    </div>
  <% end %>
</div>
